@{
    ViewBag.Title = "Home Page";
}

<h1>
    Welcome to the FizzBuzz MVC App
</h1>

<h2>Options</h2>
@Html.ActionLink("5", "Index", "Home", new { number = 5 }, null)
@Html.ActionLink("20", "Index", "Home", new { number = 20 }, null)
@Html.ActionLink("30", "Index", "Home", new { number = 30 }, null)
@Html.ActionLink("60", "Index", "Home", new { number = 60 }, null)
@Html.ActionLink("80", "Index", "Home", new { number = 80 }, null)
@Html.ActionLink("100", "Index", "Home", new { number = 100 }, null)
@Html.ActionLink("200", "Index", "Home", new { number = 200 }, null)
@Html.ActionLink("500", "Index", "Home", new { number = 500 }, null)
@Html.ActionLink("1000", "Index", "Home", new { number = 1000 }, null)
@Html.ActionLink("2000", "Index", "Home", new { number = 2000 }, null)
@Html.ActionLink("5000", "Index", "Home", new { number = 5000 }, null)
@Html.ActionLink("10000", "Index", "Home", new { number = 10000 }, null)
<h2>FizzBuzz Output</h2>
<p>
    @ViewBag.Message
</p>